---
import Icon from "~/components/Icon.astro";
import Link from "~/components/Link.astro";
import BulletPoints from "./BulletPoints.astro";
import ResumeCardGrid from "./ResumeCardGrid.astro";

export interface Props {
  title: string;
  issuedBy: string;
  issuedDate: string;
  certUrl: string;
  length?: string;
  items: string[][];
  itemsTitle: string;
  includesPractice: boolean;
}

const {
  title,
  issuedBy,
  issuedDate,
  certUrl,
  length,
  items,
  itemsTitle,
  includesPractice,
} = Astro.props;
---

<ResumeCardGrid>
  <div slot="left-side">
    <div class="cert-info">
      <h4>{title}</h4>
      <span class="title-and-icon"
        ><Icon name="mdi:office-building" alt="Office icon" /> {issuedBy}</span
      >
      {
        length && (
          <span class="title-and-icon">
            <Icon name="mdi:clock" alt="Clock icon" />
            {`Length: ${length}${includesPractice ? " + Practice" : ""}`}
          </span>
        )
      }
      <span class="title-and-icon"
        ><Icon name="mdi:calendar-month" alt="Calendar icon" /> Issued: {
          issuedDate
        }</span
      >
    </div>
    <div class="cert-link">
      <Link url={certUrl} name="View Certificate" />
    </div>
  </div>
  <div slot="right-side">
    <div class="title">
      <h4>{itemsTitle}</h4>
    </div>
    <div class="lists">
      {
        items &&
          items.map((itemList) => (
            <div class="list" role="list">
              <BulletPoints items={itemList} />
            </div>
          ))
      }
    </div>
  </div>
</ResumeCardGrid>

<style lang="scss">
  @use "~/styles/resume-common.scss" as *;

  .lists {
    display: flex;
    flex-direction: row;
    gap: 8px;

    & > .list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  .title-and-icon {
    @media screen {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
</style>
