---
import Icon from "~/components/Icon.astro";
import {
  prettyPrintDateDifference,
  roundDateDifference,
  dateDifference
} from "~/helpers/DateDifference";
import {
  formatDateTime,
  DateTimeFormattingConfig
} from "~/helpers/formatDateTime";
import type { Skill } from "~/types/resume/Skill";
import type { JobTitle } from "~/types/resume/JobTitle";
import type { JobCompany } from "~/types/resume/JobCompany";
import type { JobLocation } from "~/types/resume/JobLocation";
import type { JobLocationType } from "~/types/resume/JobLocationType";
import BulletPoints from "./BulletPoints.astro";
import Link from "~/components/Link.astro";
import { CompanyURL } from "~/consts";

export interface Props {
  title: JobTitle;
  companyName: JobCompany;
  startDate: Date;
  endDate?: Date;
  location: JobLocation;
  locationType: JobLocationType;
  bulletPoints: string[];
  skills?: Skill[];
  showEndDate?: boolean;
}

const {
  title,
  companyName,
  startDate,
  endDate,
  location,
  locationType,
  bulletPoints,
  skills,
  showEndDate: providedShowEndDate
} = Astro.props as Props;

const companyUrl = CompanyURL[companyName];

const showEndDate = Boolean(endDate && providedShowEndDate);

const timeTotal = prettyPrintDateDifference(
  roundDateDifference(dateDifference(startDate, endDate ?? new Date()))
);

const startDateRendered = formatDateTime(
  startDate,
  DateTimeFormattingConfig.MonthYearOnly
);

const endDateRendered = endDate
  ? formatDateTime(endDate, DateTimeFormattingConfig.MonthYearOnly)
  : "";
---

<div class="experience-job">
  <div class="left-side">
    <div class="job-info">
      <h4>{title}</h4>
      <span class="title-and-icon">
        <Icon name="mdi:office-building" alt="Office icon" />
        {
          companyUrl ? (
            <Link url={companyUrl} name={companyName} />
          ) : (
            companyName
          )
        }
      </span>
      {
        endDate && (
          <span class="title-and-icon">
            <Icon name="mdi:clock" alt="Clock icon" /> {timeTotal}
          </span>
        )
      }
      {
        !endDate && (
          <span class="title-and-icon" data-hide-pdf="true">
            <Icon name="mdi:clock" alt="Clock icon" />{" "}
            <time-difference-wrapper
              data-start={startDate.toJSON()}
              data-end="now"
            />
          </span>
        )
      }
      <span class="title-and-icon"
        ><Icon name="mdi:calendar-month" />
        {
          showEndDate
            ? `${startDateRendered} to ${endDateRendered}`
            : `Started: ${startDateRendered}`
        }
      </span>
      <span class="title-and-icon">
        <Icon name="ic:baseline-location-on" alt="Location" />
        {location} · {locationType}
      </span>
      {
        skills && (
          <span class="title-and-icon">
            <span class="skill-list" role="list">
              <span>
                <Icon name="mdi:wrench" alt="Wrench icon" />
                Skills:
              </span>
              {skills.map((skill) => (
                <span class="skill-list-item" role="listitem">
                  {skill}
                </span>
              ))}
            </span>
          </span>
        )
      }
    </div>
  </div>
  <div class="right-side">
    <div class="title">
      <h4>Description</h4>
    </div>
    <div class="job-bullet-points" role="list">
      <BulletPoints items={bulletPoints} />
    </div>
  </div>
</div>

<style lang="scss">
  @use "~/styles/resume-common.scss" as *;

  .experience-job {
    @include resume-card-config;

    @media screen and (min-width: $laptop-breakpoint) {
      flex-direction: row;
    }

    & > .left-side,
    & > .right-side {
      display: flex;
      flex-direction: column;
      width: unset;

      @media screen {
        padding: 5px;
      }

      @media screen and (min-width: $tablet-breakpoint) {
        padding: 10px;
      }

      @media screen and (min-width: $laptop-breakpoint) {
        padding: 20px;
        width: 50%;
      }

      @media print {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }

    & > .left-side {
      @media screen and (min-width: $tablet-breakpoint) {
        padding: 14px;
      }

      @media screen and (min-width: $laptop-breakpoint) {
        padding: 28px;
      }

      & > .job-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        gap: 8px;
      }
    }

    & > .right-side {
      @media screen and (min-width: $tablet-breakpoint) {
        padding: 14px;
      }

      @media screen and (min-width: $laptop-breakpoint) {
        padding: 28px;
      }

      & > .job-bullet-points {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  .title-and-icon {
    @media screen {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .skill-list-title {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .skill-list-item:not(:last-child):after {
    content: "·";
    display: inline-block;
  }
</style>

<script>
  import { setupScript } from "~/scripts/setupScript";
  import setupTimeDifferenceWrapper from "~/scripts/Elements/TimeDifferenceWrapper";

  await setupScript({
    name: "webcomponent-time-difference-wrapper",
    setup: setupTimeDifferenceWrapper,
    once: true,
    afterSwap: false,
  });
</script>
