---
import Link from "~/components/Link.astro";
import DownloadAsPDFLink from "./DownloadAsPDFLink.astro";

export interface Props {
  fullName: string;
  subtitle: string;
  avatarUrl: string;
  avatarAlt: string;
  links: {
    name: string;
    url: string;
  }[];
}

const { fullName, subtitle, avatarUrl, avatarAlt, links } = Astro.props;
---

<div class="flex flex-row">
  <div>
    <img src={avatarUrl} alt={avatarAlt} class="rounded-full aspect-square w-28" />
  </div>
  <div>
    <h1>{fullName}</h1>
    <div class="flex flex-col gap-1 ml-[2px]">
      <span class="flex flex-col items-center justify-center lg:items-[unset] lg:justify-[unset]">{subtitle}</span>
      <span class="flex flex-col gap-2 items-center print:flex-row print:items-start md:flex-row md:max-h-8">
        {links.map(({ name, url }) => <Link url={url} name={name} />)}
        <DownloadAsPDFLink />
      </span>
    </div>
  </div>
</div>
