---
import Link from "../Link.astro";

export interface Props {
  fullName: string;
  subtitle: string;
  avatarUrl: string;
  avatarAlt: string;
  links: {
    name: string;
    url: string;
  }[];
}

const { fullName, subtitle, avatarUrl, avatarAlt, links } = Astro.props;
---

<div class="resume-header">
  <div class="left-side">
    <img src={avatarUrl} alt={avatarAlt} class="avatar" />
  </div>
  <div class="right-side">
    <h1>{fullName}</h1>
    <span class="subtitle">{subtitle}</span>
    <span class="links">
      {links.map(({ name, url }) => <Link url={url} name={name} />)}
    </span>
  </div>
</div>

<style lang="scss">
  @use "../../styles/common.scss" as *;
  @use "../../styles/resume-common.scss" as *;

  .resume-header {
    @include name-and-avatar-layout;

    & .left-side > .avatar {
      border-radius: 50%;
      width: 120px;
      aspect-ratio: 1 / 1;
    }

    & .right-side {
      gap: 0;
      justify-content: unset;

      & > .links {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }

    @media screen and (max-width: $tablet-breakpoint) {
      justify-content: center;

      & .right-side {
        gap: 5px;
        align-items: center;
      }
    }
  }
</style>
