---
import BaseLayout from "~/layouts/BaseLayout.astro";
import CertificationCard from "~/components/resume/CertificationCard.astro";
import SummaryCard from "~/components/resume/SummaryCard.astro";
import PersonCard from "~/components/resume/PersonCard.astro";
import ExperienceCard from "~/components/resume/ExperienceCard.astro";
import { JobTitle } from "~/types/resume/JobTitle";
import { JobLocation } from "~/types/resume/JobLocation";
import { JobLocationType } from "~/types/resume/JobLocationType";
import { Skill } from "~/types/resume/Skill";
import { JobCompany } from "~/types/resume/JobCompany";
import { getLinksBySection } from "~/helpers/getLinks";
import { LicenseName } from "~/consts";
---

<BaseLayout
  title={"Resume"}
  description="My professional resume."
  hideFun={true}
  license={LicenseName["CC-BY-SA-4.0"]}
>
  <PersonCard
    fullName="Luciana Hillcoat"
    subtitle="Software Developer"
    avatarUrl="/images/profile_picture_pro.png"
    avatarAlt="Lucianas's photo, a person with short hair and glasses"
    links={getLinksBySection("resume")}
  />

  <article>
    <section id="summary">
      <div class="resume-section-title">
        <h3>Summary</h3>
      </div>
      <SummaryCard
        paragraphs={[
          "Experienced web developer who loves using the latest tech to make apps work well and grow easily. " +
            "I'm good at making code better and processes smoother so things run their best and are easy to keep up. " +
            "I always keep learning about what's new in my field to make sure my work is top-notch.",
          "I believe keeping things simple is super important, as well as I am always learning to get better. " +
            "I enjoy collaborating with others and I'm not shy about asking for help when I need it."
        ]}
      />

      <div class="sections-wrapper">
        
        <section id="experience">
          <div class="resume-section-title">
            <h3>Experience</h3>
          </div>

          <ExperienceCard
          title={JobTitle.fullstack_dev}
          companyName={JobCompany.free}
          startDate={new Date("2023-06-15")}
          location={JobLocation.mdq}
          locationType={JobLocationType.remote}
          bulletPoints={[
            "Developing an in-progress innovative application for file cloud-hosting.",
            "Pioneering an in-progress platform to empower developers to integrate widgets on their products.",
            "Writing entirely type-safe full-stack architecture for the products.",
            "Schema checking with Zod & regex.",
            "Building fast-backends with Golang and leveraging IO-binded data-driven endpoints with Node.js & Express.",
            "Deploying on custom VPS with Docker containers & setting up DDOS production."
          ]}
          skills={[
            Skill.next,
            Skill.react,
            Skill.ts,
            Skill.js,
            Skill.jsdoc,
            Skill.nodejs,
            Skill.go,
            Skill.postgres,
            Skill.s3,
            Skill.docker,
            Skill.linux,
            Skill.html,
            Skill.css
          ]}
        />

          <ExperienceCard
            title={JobTitle.frontend_dev}
            companyName={JobCompany.cognizant}
            startDate={new Date("2023-01-01")}
            endDate={new Date("2023-06-15")}
            showEndDate={true}
            location={JobLocation.bsas}
            locationType={JobLocationType.remote}
            bulletPoints={[
              "Creating and defining reusable and type-safe components for a Next.js front-end.",
              "Giving suggestions for the architecture.",
              "Writing the specifications for the components and applying the same style from a Figma using CSS modules.",
              "Helping team members and proactive mentality."
            ]}
            skills={[
              Skill.next,
              Skill.react,
              Skill.ts,
              Skill.js,
              Skill.jsdoc,
              Skill.webcomp,
              Skill.html,
              Skill.css,
              Skill.agile
            ]}
          />

          <ExperienceCard
            title={JobTitle.fullstack_dev}
            companyName={JobCompany.cognizant}
            startDate={new Date("2021-08-01")}
            endDate={new Date("2023-01-01")}
            location={JobLocation.bsas}
            locationType={JobLocationType.remote}
            bulletPoints={[
              "Worked for an important client on the audits area with an international team full-english speaking.",
              "Estimation of user stories with proper technical design.",
              "Deliver of high-quality components.",
              "Helping and teaching team members.",
              "Refactoring old components.",
              "Normalizing Redux store.",
              "70% Front-end development & 30% back-end development for microservice written in C#"
            ]}
            skills={[
              Skill.react,
              Skill.js,
              Skill.redux,
              Skill.jsdoc,
              Skill.csharp,
              Skill.dotnet,
              Skill.mssql,
              Skill.azure,
              Skill.html,
              Skill.css,
              Skill.scss,
              Skill.agile,
            ]}
          />

          <ExperienceCard
            title={JobTitle.backend_dev}
            companyName={JobCompany.kimn}
            startDate={new Date("2017-01-01")}
            endDate={new Date("2018-12-01")}
            location={JobLocation.mdq}
            locationType={JobLocationType.insite}
            bulletPoints={[
              "Integration development for Insurance System.",
              "Ditched old Microsoft Integration Services XML that was causing merge problems.",
              "Replaced with a complete C# program built from the bottom up with SOLID principles in mind",
              "Sources parsed from any source: PDF, Email, CSV, JSON, Excel, and converted into a Complete SQL Server Query to insert into the database.",
              "Developing new features of the system using SOLID principles.",
              "Deployment and mantainince of this program."
            ]}
            skills={[
              Skill.dotnet_legacy,
              Skill.mssql,
              Skill.csharp,
              Skill.solid
            ]}
          />

          <ExperienceCard
            title={JobTitle.fullstack_dev}
            companyName={JobCompany.kimn}
            startDate={new Date("2015-03-01")}
            endDate={new Date("2017-01-01")}
            location={JobLocation.mdq}
            locationType={JobLocationType.insite}
            bulletPoints={[
              "New features development and research.",
              "Investigation of tools for solving current problems better.",
              "Implement unit testing on the current running system.",
              "Implement usage of Git and some Agile.",
              "Developing new features of the system using SOLID principles.",
              "Refactoring NHibernate Queries to SQL stored procedures.",
              "Fixing front-end bugs."
            ]}
            skills={[
              Skill.js_legacy,
              Skill.html_legacy,
              Skill.css,
              Skill.dotnet_legacy,
              Skill.csharp,
              Skill.mssql,
              Skill.php
            ]}
          />
        </section>

        <section id="education">
          <div class="resume-section-title">
            <h3>Education</h3>
          </div>

          <CertificationCard
            issuedBy="Academind (via Udemy)"
            certUrl="https://www.udemy.com/certificate/UC-7cf4e6d7-e79f-46a1-8d56-c4731b0136d8/"
            title="Understanding TypeScript"
            issuedDate="Jul 2022"
            length="15 hours"
            includesPractice={true}
            itemsTitle="Skills Trained"
            items={[
              [
                "Primitive Types",
                "Union Types",
                "Object Types",
                "Tuples and Enums",
                "Function Types",
                "TSC Flags",
                "Classes",
                "Abstract Classes",
                "Inheritance",
                "Interfaces",
                "Private, Public and Protected fields"
              ],
              [
                "Singleton",
                "Spread Operator",
                "Arrow functions",
                "Decorators",
                "Generics",
                "Modules and Namespaces",
                "Using Libraries",
                "Webpack"
              ]
            ]}
          />

          <CertificationCard
            issuedBy="Academind (via Udemy)"
            certUrl="https://www.udemy.com/certificate/UC-b40f930d-d308-4c47-bd31-c3b98fcce89d/"
            title="React: The Complete Guide"
            issuedDate="Jul 2022"
            length="48.5 hours"
            includesPractice={true}
            itemsTitle="Skills Trained"
            items={[
              [
                "Conditional render",
                "Styled Components",
                "CSS Modules",
                "Hooks"
              ],
              ["State", "Effects", "Router", "Redux"]
            ]}
          />

          <CertificationCard
            title="The Complete SQL Bootcamp"
            issuedBy="Pierian Training (via Udemy)"
            certUrl="https://www.udemy.com/certificate/UC-42309009-1c9c-4107-acb5-a925218b7f83"
            issuedDate="Jan 2023"
            length="9 hours"
            includesPractice={true}
            itemsTitle="Skills Trained"
            items={[
              [
                "SQL Basics",
                "Group By",
                "Inner Join",
                "Outer Join",
                "Union",
                "Insert"
              ],
              ["Update", "Delete", "Alter", "Drop", "Views"]
            ]}
          />

          <CertificationCard
            title="EF SET English Certificate"
            issuedBy="EF Standard English Test"
            certUrl="https://www.efset.org/cert/HbTawN"
            issuedDate="Feb 2023"
            includesPractice={false}
            itemsTitle="Highlights"
            items={[
              [
                "C2 Proficient 72/100",
                "Proficient in both spoken and written language.",
                "Comprehends fast-paced speech with regional accents and a range of written texts, including complex materials."
              ]
            ]}
          />
        </section>
      </div>
    </section>
  </article>

  <style lang="scss">
    .resume {
      & > section:not(:first-child) {
        margin-top: 20px;
      }
    }

    .resume-section-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $tablet-breakpoint) {
        align-items: flex-start;
      }

      @media print {
        align-items: flex-start;
        margin-left: 0.5rem;
      }
    }

    .sections-wrapper {
      display: flex;
      flex-direction: column;
    }
  </style>
</BaseLayout>
