---
import BaseLayout from "../layouts/BaseLayout.astro";
import ResumeCertification from "../components/Resume/ResumeCertification.astro";
import ResumeSummaryCard from "../components/Resume/ResumeSummaryCard.astro";
import ResumeNamePhoto from "../components/Resume/ResumeNamePhoto.astro";
import ResumeExperience from "../components/Resume/ResumeExperience.astro";
import { JobTitle } from "../types/resume/JobTitle";
import { JobLocation } from "../types/resume/JobLocation";
import { JobLocationType } from "../types/resume/JobLocationType";
import { Skill } from "../types/resume/Skill";
import { JobCompany } from "../types/resume/JobCompany";
import { getLinksBySection } from "../helpers/getLinks";
---

<BaseLayout
  title={"Resume"}
  description="My professional resume."
  hideFun={true}
>
  <ResumeNamePhoto
    fullName="Luciana Hillcoat"
    subtitle="Software Developer"
    avatarUrl="/images/profile_picture_pro.png"
    avatarAlt="A Photo of Luciana"
    links={getLinksBySection("resume")}
  />

  <article>
    <section id="summary">
      <div class="resume-section-title">
        <h3>Summary</h3>
      </div>
      <ResumeSummaryCard
        paragraphs={[
          "Experienced web developer with a passion for cutting-edge technology to build efficient and scalable applications. " +
            "Skilled in optimizing codebases and streamlining processes to ensure peak performance and maintainability. " +
            "Staying up-to-date with the latest industry trends and best practices to deliver high-quality solutions.",
          "Believing in simplicity as the key to success, I am a dedicated self-taught programmer who is committed to continually improving my skills. " +
            "I enjoy collaborating with others and am never afraid to ask for help when needed."
        ]}
      />

      <div class="sections-wrapper">
        <section id="education">
          <div class="resume-section-title">
            <h3>Education</h3>
          </div>

          <ResumeCertification
            issuedBy="Academind (via Udemy)"
            certUrl="https://www.udemy.com/certificate/UC-7cf4e6d7-e79f-46a1-8d56-c4731b0136d8/"
            title="Understanding TypeScript"
            issuedDate="Jul 2022"
            length="15 hours"
            includesPractice={true}
            itemsTitle="Skills Trained"
            items={[
              [
                "Primitive Types",
                "Union Types",
                "Object Types",
                "Tuples and Enums",
                "Function Types",
                "TSC Flags",
                "Classes",
                "Abstract Classes",
                "Inheritance",
                "Interfaces",
                "Private, Public and Protected fields"
              ],
              [
                "Singleton",
                "Spread Operator",
                "Arrow functions",
                "Decorators",
                "Generics",
                "Modules and Namespaces",
                "Using Libraries",
                "Webpack"
              ]
            ]}
          />

          <ResumeCertification
            issuedBy="Academind (via Udemy)"
            certUrl="https://www.udemy.com/certificate/UC-b40f930d-d308-4c47-bd31-c3b98fcce89d/"
            title="React: The Complete Guide"
            issuedDate="Jul 2022"
            length="48.5 hours"
            includesPractice={true}
            itemsTitle="Skills Trained"
            items={[
              [
                "Conditional render",
                "Styled Components",
                "CSS Modules",
                "Hooks"
              ],
              ["State", "Effects", "Router", "Redux"]
            ]}
          />

          <ResumeCertification
            title="The Complete SQL Bootcamp"
            issuedBy="Pierian Training (via Udemy)"
            certUrl="https://www.udemy.com/certificate/UC-42309009-1c9c-4107-acb5-a925218b7f83"
            issuedDate="Jan 2023"
            length="9 hours"
            includesPractice={true}
            itemsTitle="Skills Trained"
            items={[
              [
                "SQL Basics",
                "Group By",
                "Inner Join",
                "Outer Join",
                "Union",
                "Insert"
              ],
              ["Update", "Delete", "Alter", "Drop", "Views"]
            ]}
          />

          <ResumeCertification
            title="EF SET English Certificate"
            issuedBy="EF Standard English Test"
            certUrl="https://www.efset.org/cert/HbTawN"
            issuedDate="Feb 2023"
            length="50 minutes"
            includesPractice={false}
            itemsTitle="Highlights"
            items={[
              [
                "C2 Proficient 72/100",
                "Proficient in both spoken and written language.",
                "Comprehends fast-paced speech with regional accents and a range of written texts, including complex materials."
              ]
            ]}
          />
        </section>

        <section id="experience">
          <div class="resume-section-title">
            <h3>Experience</h3>
          </div>

          <ResumeExperience
            title={JobTitle.frontend_dev}
            companyName={JobCompany.softvision}
            startDate={new Date("2023-02-01")}
            endDate={new Date("2023-06-15")}
            showEndDate={true}
            location={JobLocation.bsas}
            locationType={JobLocationType.remote}
            bulletPoints={[
              "Creating and defining reusable and type-safe components for a Next.js front-end.",
              "Giving suggestions for the architecture.",
              "Writing the specifications for the components and applying the same style from a Figma using CSS modules.",
              "Helping team members and proactive mentality."
            ]}
            skills={[
              Skill.next,
              Skill.react,
              Skill.ts,
              Skill.js,
              Skill.jsdoc,
              Skill.webcomp,
              Skill.html,
              Skill.css,
              Skill.agile
            ]}
          />

          <ResumeExperience
            title={JobTitle.fullstack_dev}
            companyName={JobCompany.softvision}
            startDate={new Date("2023-01-01")}
            endDate={new Date("2023-02-01")}
            location={JobLocation.bsas}
            locationType={JobLocationType.remote}
            bulletPoints={[
              "Working with a small team to build a notification service for the legal area.",
              "Helping team members.",
              "Working with e-mail HTML for compatibility with Android, iPhone, Outlook Desktop and Gmail.",
              "Stack: C# .NET Core development with a small amount of front-end development in HTML."
            ]}
            skills={[
              Skill.html,
              Skill.css,
              Skill.agile,
              Skill.csharp,
              Skill.dotnet
            ]}
          />

          <ResumeExperience
            title={JobTitle.fullstack_dev}
            companyName={JobCompany.softvision}
            startDate={new Date("2022-09-01")}
            endDate={new Date("2023-01-01")}
            location={JobLocation.bsas}
            locationType={JobLocationType.remote}
            bulletPoints={[
              "Expertise in .NET Core, JavaScript, React, and Redux.",
              "Estimation of user stories with proper technical design.",
              "Helping and teaching team members.",
              "Refactoring old components.",
              "Normalizing Redux store."
            ]}
            skills={[
              Skill.js,
              Skill.react,
              Skill.redux,
              Skill.html,
              Skill.css,
              Skill.agile,
              Skill.csharp,
              Skill.dotnet,
              Skill.mssql
            ]}
          />

          <ResumeExperience
            title={JobTitle.fullstack_dev}
            companyName={JobCompany.softvision}
            startDate={new Date("2021-08-01")}
            endDate={new Date("2022-09-01")}
            location={JobLocation.bsas}
            locationType={JobLocationType.remote}
            bulletPoints={[
              "Worked for an important client on the audits area with an international team full-english speaking.",
              "Learned React and Redux with real life experience.",
              "Learned Azure DevOps.",
              "Deliver of high-quality components.",
              "New features and mantainince of .NET Core backend with Entity Framework Core and SQL Server database."
            ]}
            skills={[
              Skill.js,
              Skill.react,
              Skill.redux,
              Skill.html,
              Skill.css,
              Skill.agile,
              Skill.csharp,
              Skill.dotnet,
              Skill.mssql
            ]}
          />

          <ResumeExperience
            title={JobTitle.backend_dev}
            companyName={JobCompany.kimn}
            startDate={new Date("2017-01-01")}
            endDate={new Date("2018-12-01")}
            location={JobLocation.mdq}
            locationType={JobLocationType.insite}
            bulletPoints={[
              "Integration development for Insurance System.",
              "Ditched old Microsoft Integration Services XML that was causing merge problems.",
              "Replaced with a complete C# program built from the bottom up with SOLID principles in mind",
              "Sources parsed from any source: PDF, Email, CSV, JSON, Excel, and converted into a Complete SQL Server Query to insert into the database.",
              "Developing new features of the system using SOLID principles.",
              "Deployment and mantainince of this program."
            ]}
            skills={[
              Skill.dotnet_legacy,
              Skill.mssql,
              Skill.csharp,
              Skill.solid
            ]}
          />

          <ResumeExperience
            title={JobTitle.fullstack_dev}
            companyName={JobCompany.kimn}
            startDate={new Date("2016-01-01")}
            endDate={new Date("2017-01-01")}
            location={JobLocation.mdq}
            locationType={JobLocationType.insite}
            bulletPoints={[
              "New features development and research.",
              "Investigation of tools for solving current problems better.",
              "Implement unit testing on the current running system.",
              "Implement usage of Git and some Agile.",
              "Developing new features of the system using SOLID principles.",
              "Refactoring NHibernate Queries to SQL stored procedures.",
              "Fixing front-end bugs."
            ]}
            skills={[
              Skill.dotnet_legacy,
              Skill.csharp,
              Skill.mssql,
              Skill.js,
              Skill.html,
              Skill.css,
              Skill.php
            ]}
          />

          <ResumeExperience
            title={JobTitle.fullstack_dev}
            companyName={JobCompany.kimn}
            startDate={new Date("2015-03-01")}
            endDate={new Date("2016-01-01")}
            location={JobLocation.mdq}
            locationType={JobLocationType.insite}
            bulletPoints={[
              "Bug fixing/patching legacy system.",
              "Deliver of high-quality components.",
              "Learned C# and .NET Framework.",
              "Tech stack: C#, .NET, PHP, HTML, JavaScript and CSS.",
              "Database: SQL Server."
            ]}
            skills={[
              Skill.js,
              Skill.csharp,
              Skill.dotnet_legacy,
              Skill.html,
              Skill.css,
              Skill.php
            ]}
          />
        </section>
      </div>
    </section>
  </article>

  <style lang="scss">
    @use "../styles/common.scss" as *;
    @use "../styles/resume-common.scss" as *;

    .resume {
      & > section:not(:first-child) {
        margin-top: 20px;
      }
    }

    .resume-section-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $tablet-breakpoint) {
        align-items: flex-start;
      }

      @media print {
        align-items: flex-start;
      }
    }

    .sections-wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
  </style>
</BaseLayout>
