---
import Link from "~/components/Link.astro";
import {
  formatDateTime,
  DateTimeFormattingConfig
} from "~/helpers/formatDateTime";

export interface Props {
  publishDate: Date;
  title: string;
  description: string;
  slug: string;
}

const { publishDate, title, description, slug } = Astro.props;

const url = `/blog/${slug}/`;

const publishDateFormatted = formatDateTime(
  publishDate,
  DateTimeFormattingConfig.DayShortMonthYear
);
---

<div class="blog-post-card">
  <div class="blog-post-card-header">
    <span class="blog-post-card-date">
      <!-- calendar icon might be here -->>
      {publishDateFormatted}
    </span>
    <span class="blog-post-card-title">
      <Link url={url} name={title} />
    </span>
  </div>
  {
    description.length > 0 && (
      <blockquote
        class="blog-post-card-description"
        aria-label="Blog post description"
      >
        {description}
      </blockquote>
    )
  }
</div>
