---
import BlogPostSubtitle from "./BlogPostSubtitle.astro";
import type { AuthorName } from "~/consts";

export interface Props {
  publishDate: Date;
  title: string;
  coverAlt?: string;
  coverImg?: string;
  readTimeMinutes: number;
  authorName?: AuthorName;
}

const { publishDate, title, coverAlt, coverImg, readTimeMinutes, authorName } =
  Astro.props;

const coverImageAvailable =
  coverImg && coverAlt && coverImg.length > 0 && coverAlt.length > 0;
---

<div class="blog-post-header">
  {
    coverImageAvailable && (
      <div class="blog-post-cover">
        <img src={coverImg} alt={coverAlt} />
      </div>
    )
  }

  <h1 class="blog-post-title">{title}</h1>
  <BlogPostSubtitle
    publishDate={publishDate}
    readTimeMinutes={readTimeMinutes}
    authorName={authorName}
  />
</div>
