---
// Import Fonts
import "../styles/inter-font.css";
import "../styles/poppins-font.css";
import "../styles/lora-font.css";
import "../styles/intel-one-mono-font.css";

// Import global style
import "../styles/main.scss";

import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE } from "../consts";

export interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const title: string =
  Astro.props["title"] === SITE_TITLE
    ? SITE_TITLE
    : `${Astro.props["title"]} - Lucdev`;
const description: string = Astro.props["description"];
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="generator" content={Astro.generator} />
<meta name="msapplication-TileColor" content="#662f89" />
<meta name="theme-color" content="#662f89" />

<!-- Ads -->
<!-- <script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4602749251810920"
  crossorigin="anonymous"></script> -->

<!-- Feeds -->
<link
  rel="alternate"
  type="application/rss+xml"
  title="Luc's blog"
  href="/rss.xml"
/>

<!-- Meta tags -->
<link rel="canonical" href={canonicalURL} />
<meta name="description" content={description} />
<meta name="name" content={title} />

<!-- Open Graph -->
<meta property="og:url" content={canonicalURL} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/android-chrome-192x192.png" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content={title} />
<meta property="og:title" content={title} />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta name="twitter:image" content="/android-chrome-192x192.png" />

<ViewTransitions fallback="animate" />

<!-- Main Script -->
<script>
  import main from "../scripts/main";
  main();
</script>
