---
import { LICENSES, type LicenseName, DEFAULT_LICENSE } from "../consts";

export interface Props {
  license?: LicenseName;
  hideFun?: boolean;
}

import Icon from "~/components/Icon.astro";
import { SITE_URL, SITE_TITLE, SITE_GIT_REPO } from "~/consts";
import Link from "./Link.astro";
import ClassicFooter from "./ClassicFooter/ClassicFooter.astro";

const { license: providedLicense, hideFun: providedHideFun } = Astro.props;
const licenseName = providedLicense ?? DEFAULT_LICENSE;
const licenseUrl = LICENSES[licenseName];

const hideFun = providedHideFun ?? false;
---

<footer>
  <div class="modern-footer">
    <span class="print-only" aria-hidden="true">
      Content from: <Link url={SITE_URL} name={SITE_TITLE} styleType="B" />
    </span>
    <span>
      <Link url={licenseUrl} name="License" styleType="B">
        <Icon name="mdi:license" width="22px" alt="License icon" slot="after" />
      </Link>
    </span>
    <span class="screen-only">
      <Link url={SITE_GIT_REPO} name="Source code" styleType="B">
        <Icon name="mdi:git" width="22px" alt="License icon" slot="after" />
      </Link>
    </span>
    <span class="screen-only">
      <Link url={`${SITE_URL}/rss.xml`} name="RSS Feed" target="_blank" styleType="B">
        <Icon name="mdi:rss" width="22px" alt="RSS icon" slot="after" />
      </Link>
    </span>
  </div>

  {!hideFun && <ClassicFooter />}
</footer>

<style lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .modern-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    @include flex-center;
    gap: 10px;
    background-color: $primary-color;
    flex-direction: column;

    @media screen and (min-width: $tablet-breakpoint) {
      flex-direction: row;
      gap: 0;
      padding: 0;
      min-height: 50px;
    }

    @media print {
      @include main-aligment;
      flex-direction: row;
      justify-content: flex-start;
      background-color: unset;
    }

    span {
      gap: 10px;
      margin: 0;
      font-size: $font-size-regular * 0.75;
      
      @media screen {
        padding: 0 20px;
        @include flex-center;
        flex-direction: row;
        color: $text-color;
      }

      @media print {
        min-width: max-content;
      }
    }
  }
</style>
