---
//@TODO: Upgrade to astro-icon v1
// Here is a minimal example:
// --------------------------
// Install the following deps:
// pnpm add @iconify-json/gg @iconify-json/ic @iconify-json/mdi @iconify-json/uil @iconify-json/fluent
// ----------------------------
// import { Icon } from "astro-icon/components"

// <div class="icon-container" style={`--width: ${width}`}>
//   <Icon name={name} aria-label={alt ?? "Icon"} data-print-hidden={printHidden.toString()} />
// </div>

// <style lang="css">
//   .icon-container {
//     display: contents;
//   }
  
//   [data-icon] {
//     width: var(--width);
//   }

//   @media print {
//     [data-icon][data-print-hidden="true"] {
//       display: none;
//     }
//   }
// </style>

import { Icon as AstroIcon } from "astro-icon";

export interface Props {
  name: string;
  width?: string;
  alt?: string;
  displayPrint?: boolean;
}

const { name, width = "22px", alt, displayPrint = false } = Astro.props;

const printHidden = !displayPrint;
---

<AstroIcon name={name} style={`--width: ${width}`} aria-label={alt ?? "Icon"} data-print-hidden={printHidden.toString()} />

<style lang="scss">
  svg {
    width: var(--width);
  }

  @media print {
    svg[data-print-hidden="true"] {
      display: none;
    }
  }
</style>
