---
import Link from "../Link.astro";

export interface Props {
  title: string;
  items: {
    name: string;
    url?: string;
    protectedUrl?: string;
    description?: string;
  }[];
}

const { title, items } = Astro.props;

for (const item of items) {
  if (!item.url && !item.protectedUrl) {
    throw new Error("Either url or protectedUrl must be provided");
  }
}
---

<h2>{title}</h2>
<ul>
  {
    items.map(({ name, url, protectedUrl, description }) => (
      <li>
        {protectedUrl && protectedUrl.length > 0 ? (
          <Link name={name} protectedUrl={protectedUrl} />
        ) : (
          <Link name={name} url={url} />
        )}
        {description && description.length > 0 && (
          <span class="description">- {description}</span>
        )}
      </li>
    ))
  }
</ul>

<style lang="scss">
  @use "../../styles/common.scss" as *;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-left: 1.15em;

    &:before {
      content: "•";
      color: $icon-color;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    & > span.description {
      color: scale-color($color: $text-color, $lightness: -10%, $alpha: 80%);
    }

    &:hover {
      & > span.description {
        color: $text-color;
      }
      &:before {
        color: $text-color;
      }
    }
  }
</style>
