---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";
import BlogPostHeader from "~/components/BlogPost/BlogPostHeader.astro";
import { LicenseName, AuthorName } from "~/consts";
import MastodonShare from "~/components/MastodonShare.astro";
import ShareOnX from "~/components/ShareOnX.astro";
import BlogPostTags from "~/components/BlogPost/BlogPostTags.astro";
import OpenToWorkNotice from "~/components/OpenToWorkNotice.astro";

export interface Props {
  post: CollectionEntry<"blog">["data"];
  readTimeMinutes: number;
}

const { post, readTimeMinutes } = Astro.props as Props;

if (!post) {
  throw new Error("Post not supplied!");
}

const {
  title,
  tags,
  pubDate,
  longDescription,
  coverAlt,
  coverImg,
  author,
  license
} = post;

const licenseName = ((LicenseName as Record<string, string>)[license]) as LicenseName;
const authorName = ((AuthorName as Record<string, string>)[author]) as AuthorName;
---

<BaseLayout title={title} description={longDescription} license={licenseName}>
  <BlogPostHeader
    title={title}
    publishDate={pubDate}
    coverAlt={coverAlt}
    coverImg={coverImg}
    readTimeMinutes={readTimeMinutes}
    authorName={authorName}
  />
  <OpenToWorkNotice />

  <article id={"blog-post-article"} class="blog-post-contents">
    <slot />
  </article>

  <div class="mt-4 flex flex-col gap-1">
    <BlogPostTags tags={tags} />
    <MastodonShare tags={tags} title={title} />
    <ShareOnX tags={tags} title={title} />
  </div>
</BaseLayout>
